extends layout 

block main-content
  h1 Libraries
  each library in libraries
    div
      h2
        a(href=`/library/${library.id}`) #{library.querySelector('name').textContent}
      p #{library.querySelector('description').textContent}
