doctype html
html(lang="en")
  include header.pug
  body
    block content
    include footer.pug
    link(rel="stylesheet" href="/css/styles.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gentona:wght@400;700&display=swap")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script(src="/js/main.js")
