extends layout 

block main-content 
    h1 Top 15 Most Watched Shows
    table(style='width: 100%; border: 1px solid #ddd; border-collapse: collapse;')
        thead 
            tr 
                th(style='border: 1px solid #ddd; padding: 8px; text-align: left; background-color: #f2f2f2;') Show Title
                th(style='border: 1px solid #ddd; padding: 8px; text-align: left; background-color: #f2f2f2;') Year 
        tbody 
            each s in shows
                tr 
                    td(style='border: 1px solid #ddd; padding: 8px;')
                        a(href=`https://imdb.com/title/${s.show.ids.imdb}`, style='color: #3498db; text-decoration: none;') #{s.show.title}
                    td(style='border: 1px solid #ddd; padding: 8px;') #{s.show.year}
