extends common/layout

block layout-content
  section#about.my-5
    .container
      h2.text-center.mb-4 About Us
      p.lead.text-center
        | ShopEasy is your go-to online grocery store offering a wide range of fresh fruits, vegetables, dairy products, and more. 
        | We are committed to providing quality products and excellent customer service. 
        | Shop with us today and experience convenience at its best.
