extends common/layout

block layout-content
    section#admin-add.my-5
        .container
            h2.text-center.mb-4 Add Featured Products
            .row.justify-content-center
                .col-md-8
                    form(action='/admin/add/product' method='GET' enctype='multipart/form-data')
                        .form-group
                            label(for='name') Product Name:
                            select#name.form-control(name='name' required)
                                option(value='' disabled selected) Select a product
                                option(value='Apple') Apple
                                option(value='Banana') Banana
                                option(value='Carrot') Carrot
                                option(value='Broccoli') Broccoli
                                option(value='Strawberry') Strawberry
                                option(value='Spinach') Spinach
                                option(value='Grapes') Grapes
                                option(value='Tomato') Tomato
                                option(value='Potato') Potato
                                option(value='Orange') Orange
                                option(value='Mango') Mango
                                option(value='Pineapple') Pineapple
                                option(value='Lettuce') Lettuce
                                option(value='Cucumber') Cucumber
                                option(value='Bell Pepper') Bell Pepper
                                option(value='Onion') Onion
                                option(value='Garlic') Garlic
                                option(value='Peach') Peach
                                option(value='Cherry') Cherry
                                option(value='Watermelon') Watermelon
                        .form-group
                            label(for='brand') Brand:
                            input#brand.form-control(type='text' name='brand' placeholder='Enter brand name' required)
                        .form-group
                            label(for='price') Price:
                            input#price.form-control(type='number' step='0.01' name='price' placeholder='Enter price' required)
                        .form-group
                            label(for='rating') Rating:
                            input#rating.form-control(type='text' name='rating' placeholder='Enter rating' required)
                        button.btn.btn-primary(type='submit') Add Product
