.fixed-card {
  height: 350px;
  /* Set a fixed height for the cards */
  display: flex;
  flex-direction: column;
}

.fixed-card img {
  height: 150px;
  /* Set a fixed height for the images*/
  object-fit: cover;
  /*the image covers the space without distortion*/
}

.fixed-card .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Ensure content is spaced properly*/
}

.fixed-card .card-title,
.fixed-card .card-text {
  margin-bottom: 10px;
}


#contact {
  background-color: #f9f9f9;
  padding: 30px 0;
}

.card {
  border: none;
  border-radius: 10px;
  font-size: large;
}

.card-body {
  padding: 35px;
}

.form-group {
  margin-bottom: 25px;
}

.btn {
  padding: 10px 15px;
}
.card {
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.05);
}
.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}
.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}