.fixed-card {
  height: 350px;
  /* Set a fixed height for the cards */
  display: flex;
  flex-direction: column;
}

.fixed-card img {
  height: 150px;
  /* Set a fixed height for the images*/
  object-fit: cover;
  /* Ensure the image covers the space without distortion*/
}

.fixed-card .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Ensure content is spaced properly*/
}

.fixed-card .card-title,
.fixed-card .card-text {
  margin-bottom: 0.5rem;
  /* Adjust margin as needed*/
}

#contact {
  background-color: #f9f9f9;
  padding: 2rem 0;
}
.card {
  border: none;
  border-radius: 0.5rem;
}
.card-body {
  padding: 2rem;
}
.form-group {
  margin-bottom: 1.5rem;
}
.btn {
  padding: 0.75rem 1.5rem;
}
